body {
    padding-top: 70px;
}

.table-borderless tr, .table-borderless th, .table-borderless td {
    border: none !important;
}

.table-selectable tbody tr {
    cursor: pointer;
}

img.dependency-graph {
    max-width: 100%;
    max-height: 200px;
}

.gallery a {
    cursor: pointer;
}

.form-horizontal .text-left {
    text-align: left;
}

.technical {
    font-family: monospace;
}

legend small {
    color: #777;
    font-size: 65%;
}

.form-compact .form-group {
    margin-bottom: 5px;
}

.form-compact fieldset {
    margin-top: 15px;
}

.form-compact legend {
    margin-bottom: 5px;
}
